@mixin font-border{
    text-shadow: 
                1px 1px 0 #895336,
                -1px 1px 0 #895336,
                1px -1px 0 #895336,
                -1px -1px 0 #895336,
                0 1px 0 #895336,
                1px 0 0 #895336,
                -1px 0 0 #895336,
                0 -1px 0 #895336;
}
@mixin title{
    font-size: clamp(24px, 10vw, 120px);
}
.active{
    display: block !important;
}
html,body{
    overflow-x: hidden;
}
.container {
    max-width: 1500px;
    height: 100%; 
    margin: 0 auto; 
    padding: 0 20px; 
}

.header{
    height: 100px;
    background: #32261B;

    &__wrapper{
        display: flex;
        justify-content: space-around;
        align-items: center;
        gap: 150px;
        height: 100%;
    }
    &__nav{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 27px;
    }
    &__item{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #FFFFFF;
        @include font-border;
        &:hover{
            text-shadow: none;
        }
    }
    &__social{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    &__x, &__tg{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 52px;
        height: 46px;
        background: #895336;
        border: 1.5px solid #FF9C00;
        border-radius: 20px;
        & i{
            color: #ffff;
            font-size: 19px;
        }
        &:hover{
            background: #a56542;
        }
    }
    &__burger{
        display: none;
        font-size: 50px;
        color: #FF9C00;
    }
}

.logo{
    height: 74px;
}

.main{
    background-color: #513922;
    &__bg{
        background-image: url(../img/main.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-y: -5px;
    }
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
        padding: 48px 0;
    }
    &__info{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        color: #F4F0EC;
        @include font-border;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 40px;
        height: 727px;
    }
    &__bear{
        align-self: center;
    }
    &__bee{
        align-self: flex-end;
    }
    &__middle{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 40px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(24px, 10vw, 200px);
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__iteract{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex-wrap: wrap;
        & a:hover{
            opacity: .7;
        }
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9px;
        background-image: url(../img/desk.png);
        background-repeat: no-repeat;
        background-size: cover;
        width: 150px;
        height: 54px;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #F4F0EC;
        &_big{
            background-image: url(../img/desk__big.png);
            width: 205px;
        }
    }
    &__chart{
        height: 29px;
    }
    &__solana{
        height: 19px;
    }
    &__global{
        height: 35px;
    }

    &__text{
        display: flex;
        flex-direction: column;
        gap: 15px;
        &_content{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: clamp(14px, 18px, 24px) ;
            color: #F4F0EC;
            & span{
                color: #FF9C00;
            }
        }
    }
    &__link{
        display: flex;
        gap: 5px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        color: #F4F0EC;
    }
}

#notification {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    width: 150px;
    height: 50px;
    color: #fff;
    background-color: rgb(75, 75, 75);
    display: none;
    position: fixed;
    bottom: 20px;
    left: 40%;
    border-radius: 30px;
}

#notification.active{
    display: flex !important; 
}

.tokenomic{
    background-color: #322418;
    padding: 100px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 100px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        @include title;
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__content{
        position: relative;
        min-height: 560px;
        background-image: url(../img/tokenomic_bg.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: contain;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;
        padding: 80px 80px;
        &_title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: #FFDFBF;
        }
        &_wrapper{
            display: flex;
            flex-direction: column;
            gap: 30px;
        }
        &_item{
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 14px;
            width: 550px;
            &_right{
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;
            }
        }
        &_text{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #F4F0EC;
        }
        &_sep_first{
            width: 170px;
            height: 4px;
            background: linear-gradient(90deg, rgba(255, 140, 0, 0) 0%, rgba(255, 140, 0, 1) 50%, rgba(255, 140, 0, 0) 100%);
            filter: blur(3px); /* Эффект размытия */
            border-radius: 2px; /* Скругление краев */
        }
        &_percent_first{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #F36515;
        }
        &_sep_second{
            width: 170px;
            height: 4px;
            background: linear-gradient(90deg, rgba(255, 140, 0, 0) 0%, #E38C04 50%, rgba(255, 140, 0, 0) 100%);
            filter: blur(3px); /* Эффект размытия */
            border-radius: 2px; /* Скругление краев */
        }
        &_percent_second{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #E98F03;
        }
        &_sep_third{
            width: 170px;
            height: 4px;
            background: linear-gradient(90deg, rgba(255, 140, 0, 0) 0%, #ECAF57 50%, rgba(255, 140, 0, 0) 100%);
            filter: blur(3px); /* Эффект размытия */
            border-radius: 2px; /* Скругление краев */
        }
        &_percent_third{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #E6AB55;
        }
        &_sep_fourth{
            width: 170px;
            height: 4px;
            background: linear-gradient(90deg, rgba(255, 140, 0, 0) 0%, #FFDC9E 50%, rgba(255, 140, 0, 0) 100%);
            filter: blur(3px); /* Эффект размытия */
            border-radius: 2px; /* Скругление краев */
        }
        &_percent_fourth{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 20px;
            color: #C4A777;
        }
        &_shield{
            background-image: url(../img/desk__shield.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            width: 555px;
            height: 68px;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #F4F0EC;
            @include font-border;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 15px;
        }
    }
    &__ellipse{
        position: absolute;
        top: 10px;
        right: 90px;
    }
    &__percent{
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(14px, 20px ,24px);
        color: #F4F0EC;
        &_first{
            position: absolute;
            top: -20px;
            right: 120px;
            &::before{
                content: url(../img/icons/dot__gold.png);
            }
        }
        &_second{
            position: absolute;
            top: 240px;
            right: 520px;
            &::before{
                content: url(../img/icons/dot.png);
            }
        }
        &_third{
            position: absolute;
            top: -20px;
            right: 370px;
            &::before{
                content: url(../img/icons/dot.png);
            }
        }
        &_fourth{
            position: absolute;
            top: 360px;
            right: 390px;
            &::before{
                content: url(../img/icons/dot.png);
            }
        }
    }
    &__info{
        position: absolute;
        top: -90px;
        right: 120px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: clamp(14px, 20px ,24px);
        color: #F4F0EC;
        & span{
            font-weight: 600;
            font-size: clamp(14px, 17px ,20px);
        }
    }
}


.buy{
    background-color: #322418;
    padding: 100px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 40px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        @include title;
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url(../img/transaction__desk.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        min-height: 761px;
        width: 1225px;
        &_wrapper{
            position: relative;
            width: 900px;
            height: 490px;
            background: #32261B;
            border-radius: 39px;
            padding: 25px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            overflow: hidden;
        }
    }

    .bg-\[\#212128\]{
        background: rgba(118, 72, 46, 0.2) !important;
        border-radius: 20px;
    }
    .bg-\[\#36373E\]{
        background: #32261B !important;
        border: 2px solid #5F3721 !important;
        border-radius: 15px !important;
    }
    .bg-\[\#191B1F\]{
        background: #895336 !important;
        border: 2px solid #5F3721 !important;
        border-radius: 40px 41px 41px 41px !important;
    }
    #jupiter-terminal{
        height: 460px !important;
    }
    .w-full.px-2 .\!bg-transparent.css-g53se3 button{
        background-image: url(../img/transaction__btn.png) !important;
        background-position: center !important;
        background-repeat: no-repeat !important;
        background-size: contain !important;
        background-color: #32261b !important;
        border: none !important;
        height: 75px !important;
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        color: #FFFFFF;
        @include font-border;
        & div{
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover{
            opacity: .7;
        }
    }


}

.utility{
    background-color: #322418;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        @include title;
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: center;
        gap: 20px;
        position: relative;
        width: 570px;
        height: 319px;
        background: #32261B;
        box-shadow: -18px 18px 3px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: 3px solid #C15416;
        padding: 30px;
        &_big{
            width: 1170px;
            height: 550px;
            background: radial-gradient(50% 50% at 50% 50%, #DA7539 0%, #915226 100%);
            border: 3px solid #FF9C00;
            box-shadow: 18px 18px 4px rgba(0, 0, 0, 0.25);
            padding: 0;
            .utility__item_btn{
                width: 200px;
                height: 50px;
            }
        }
        &_wrapper{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            gap: 20px;
            padding: 30px;
            background-image: url(../img/utility_bg.png);
            background-position: bottom;
            background-repeat: no-repeat;
            background-size: contain;
            height: 100%;
        }
        &_title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: #F4F0EC;
        }
        &_descr{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
        }
        &_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 150px;
            height: 50px;
            background-image: url(../img/desk__big.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #F4F0EC;
            @include font-border;
            &:hover{
                opacity: .7;
            }
        }
    }
}


.verse{
    background-color: #322418;
    padding: 100px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
&__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 60px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        @include title;
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 30px;
    }
    &__item{
        position: relative;
        width: 570px;
        height: 319px;
        background: #32261B;
        box-shadow: -18px 18px 3px rgba(0, 0, 0, 0.25);
        border-radius: 20px;
        border: 3px solid #C15416;
        padding: 30px 10px 0 30px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        &_left{
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            gap: 20px;
        }
        &_big{
            width: 1170px;
            height: 550px;
            background: radial-gradient(50% 50% at 50% 50%, #DA7539 0%, #915226 100%);
            border: 3px solid #FF9C00;
            box-shadow: 18px 18px 4px rgba(0, 0, 0, 0.25);
            padding: 0;
            .utility__item_btn{
                width: 200px;
                height: 50px;
            }
        }
        &_wrapper{
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-content: center;
            gap: 20px;
            padding: 30px;
            background-image: url(../img/verse/verse_bg.png);
            background-position: top;
            background-repeat: no-repeat;
            background-size: auto;
            height: 100%;
        }
        &_title{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 32px;
            color: #F4F0EC;
        }
        &_descr{
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            color: #FFFFFF;
        }
        &_btn{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 250px;
            height:80px;
            background-image: url(../img/desk__big.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            font-family: 'Exo 2';
            font-style: normal;
            font-weight: 500;
            font-size: 20px;
            color: #F4F0EC;
            @include font-border;
            &:hover{
                opacity: .7;
            }
        }
        &_img_mobile{
            display: none;
        }
    }
}
.community{
    background-color: #322418;
    padding: 100px 0;
    &__wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 70px;
    }
    &__title{
        font-family: 'Exo 2';
        font-style: normal;
        font-weight: 700;
        @include title;
        color: #F4F0EC;
        text-shadow: 5px 5px 0 #895336, 
                    -5px -5px 0 #895336,  
                    5px -5px 0 #895336, 
                    -5px 5px 0 #895336,  
                    0px 5px 0 #895336, 
                    0px -5px 0 #895336,
                    5px 0px 0 #895336,
                    -5px 0px 0 #895336,
                    2px 10px 0 #E87821;
    }
    &__content{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }
    &__item{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 70px;
        height: 62px;
        background: #895336;
        border: 1.5px solid #FF9C00;
        border-radius: 20px;
        & i{
            color: #fff;
            font-size: 28px;
        }
        &:hover{
            opacity: .7;
        }
    }
}


@media (max-width: 1200px) {
    .main{

        &__img{
            width: 300px;
        }
    }
    .tokenomic{
        &__ellipse{
            width: 400px;
            right: -107px;
            top: 40px;
        }
        &__percent{

            &_first{
                top: 9px;
                right: -89px;
            }
            &_second{
                top: 10px;
                right: 107px;
            }
            &_third{
                top: 227px;
                right: 248px;
            }
            &_fourth{
                top: 315px;
                right: 135px;
            }
        }
    }
}

/* Для экранов 992px и ниже */
@media (max-width: 992px) {
    .main{

        &__img{
            width: 200px;
        }
    }
    .tokenomic{
        &__ellipse{
            display: none;
        }
        &__percent{
            display: none;
            
        }
        &__content_title{
            font-size: 25px;
        }
        &__info{
            display: none;
        }
    }
    .buy{
        &__content{
            width: 1000px;
            &_wrapper{
                width: 751px;
                height: 410px;
            }
        }
    }
    .utility{
        &__item{
            width: 440px;
            &_title{
                font-size: 28px;
            }
            &_descr{
                font-size: 16px;
            }
            &_big{
                width: 926px;
            }
        }
    }
    .verse{
        &__item{
            width: 440px;
            height: 380px;
            &_title{
                font-size: 28px;
            }
            &_descr{
                font-size: 16px;
            }
            &_big{
                width: 926px;
            }
            &_img{
                max-width: 240px;
            }
            &_wrapper{
                background-size: cover;
            }
        }
    }
}

/* Для экранов 768px и ниже (например, планшеты в портретной ориентации) */
@media (max-width: 768px) {
    .buy{
        &__content{
            width:820px;
            background-image: url(../img/transaction__desk_big.png);
            &_wrapper{
                width: 590px;
                height: 399px;
            }
        }
        
    }
    .utility{
        &__item{
            width: 340px;
            &_wrapper{
                background-size: cover;
            }
            &_title{
                font-size: 28px;
            }
            &_descr{
                font-size: 16px;
            }
            &_big{
                width: 730px;
            }
        }
    }
    .verse{
        &__item{
            width: 340px;
            height: 230px;
            &_title{
                font-size: 20px;
            }
            &_descr{
                font-size: 14px;
            }
            &_big{
                width: 730px;
                height: 400px;
            }
            &_img{
                max-width: 100px;
                height: 170px;
            }
            
        }
    }
}

/* Для экранов 576px и ниже (например, телефоны в портретной ориентации) */
@media (max-width: 576px) {
    .header{
        position: relative;
        &__wrapper{
            gap: 20px;
        }
        &__nav{
            display: none;
            position: absolute;
            top: 100px;
            padding: 20px 0;
            flex-direction: column;
            width: 100vw;
            background-color: #32261b;
        }
        &__x, &__tg{
            width: 42px;
            height: 38px;
        }
    }
    .main{
        &__text{
            &_content{
                font-size: 14px;
            }
            height: 100%;
            width: 300px;
        }
        &__link{
            font-size: 14px;
        }
        &__img{
            display: none;
        }
        &__item{
            width: 123px;
            height: 44px;
            font-size: 14px;
            &_big{
                background-image: url(../img/desk.png);
            }
        }
    }


    .tokenomic{
        &__content{
            padding: 40px 40px;
            background-image: none;
            align-items: center;
            &_item{
                width: 400px;
            }
            &_title{
                font-size: 20px;
            }
            &_text{
                font-size: 16px;
            }
            &_shield{
                width: 372px;
                font-size: 16px;
            }
            &_sep{
                &_first{
                    width: 70px;
                }
                &_second{
                    width: 70px;
                }
                &_third{
                    width: 70px;
                }
                &_fourth{
                    width: 70px;
                }
            }
        }
    }
    .buy{
        padding: 50px;
        &__content{
            width: 630px;
            background-image: url(../img/transaction__mobile.png);
            &_wrapper{
                width: 448px;
                height: 683px;
            }
        }
        .w-full.px-2 .\!bg-transparent.css-g53se3 button{
            background-image: url(../img/transaction__btn_mobile.png) !important;
        }
    }

    .active__burger{
        display: flex;
    }
    .utility{
        &__content{
            width: 100%;
        }
        &__item{
            width: 340px;
            height: 370px;
            &_wrapper{
                background-image: url(../img/utility_bg_mobile.png);
                background-size: contain;
                background-position: bottom;
            }
        }
    }
    .verse{
        &__content{
            width: 100%;
        }
        &__item{
            width: 340px;
        }
        &__item{
            flex-direction: column;
            height: 400px;
            justify-content: space-between;
            align-items: center;
            &_img{
                display: none;
                &_mobile{
                    display: block;
                }
            }
            &_big{
                height: 590px;
            }
            &_wrapper{
                background-image: url(../img/verse/verse_bg_mobile.png);
                background-size: contain;
                background-position: bottom;
            }
        }
    }
    .buy{
        padding: 0 ;
        &__wrapper{
            gap: 0px;
        }
        &__content{
            width: 360px;
            background-image: url(../img/transaction__mobile.png);
            &_wrapper{
                width: 310px;
                height: 424px;
                padding: 20px 0;
            }
        }
        .w-full.px-2 .\!bg-transparent.css-g53se3 button{
            background-image: url(../img/transaction__btn_mobile.png) !important;
        }
    }
    .tokenomic{
        &__wrapper{
            gap: 300px;
        }
        &__ellipse{
            display: block;
            right: 0;
            top: -256px
        }
        &__percent{
            display: block;
            &_first{
                top: -282px;
                right: 0;
            }
            &_second{
                top: -283px;
                left: 108px;
                width: 100%;
            }
            &_third{
                top: -119px;
                left: 0;
                width: 100%;
            }
            &_fourth{
                top: -51px;
                right: -71px;
                width: 100%;
            }
            
        }
        &__content_title{
            font-size: 25px;
        }
        &__info{
            display: none;
        }
        &__content{
            padding: 40px 40px;
            background-image: none;
            align-items: center;
            &_item{
                width: 310px;
            }
            &_title{
                font-size: 20px;
            }
            &_text{
                font-size: 16px;
            }
            &_shield{
                width: 310px;
                font-size: 16px;
            }
            &_sep{
                &_first{
                    width: 70px;
                }
                &_second{
                    width: 70px;
                }
                &_third{
                    width: 70px;
                }
                &_fourth{
                    width: 70px;
                }
            }
        }
    }
}

/* Для экранов 480px и ниже (например, маленькие телефоны) */
@media (max-width: 480px) {
    /* Ваши стили для экранов до 480px */
}